<div ng-controller="vehicleOverviewCtrl" id="vehicle-overview">
  <div>
    <div ng-repeat="vehicle in vehicleOverviewSummary.vehicles" class="card-outer">
      <a class="" ui-sref="vehicle({vehicleId: vehicle.Id})">
        <div class="card-inner">
          <div style="padding:8px 0 8px 0;background: #005288;color: #ffffff;">{{vehicle.Year + ' ' +
            vehicle.Make}}
          </div>
          <i class="large material-icons" style="color: #757575;font-size: 7em;">directions_car</i>


          <span style="display: block;font-weight: 600;text-decoration: none;color: #757575;">Edit
          Vehicle</span>
        </div>
      </a>

      <div class="clearfix"></div>
    </div>
    <div class="card-outer">
      <a ui-sref="vehicle({vehicleId: 0})" style="text-decoration: none;">
        <div class="card-inner" style="padding: 16px;">
          <!--<div style="padding:8px 0 8px 0;background:#43ADDB;color: #ffffff;">Add Vehicle</div>-->

          <i class="large material-icons" style="color: #757575;font-size: 6em;margin-top: 10px;">control_point</i>
          <span style="display: block;font-weight: 600;color: #757575;">Add Vehicle</span>

        </div>
      </a>

    </div>
    <div class="clearfix"></div>
    <ng-form name="vehicleOverviewForm">
      <div id="step-postal-code">
        <div id="postal-code" class="">
          <div class="input-group">
            <div class="form-group"
                 ng-class="{true: 'has-error'}[postalSummary.formSubmitted && vehicleOverviewForm.continue.$invalid]">

              <div ng-messages="vehicleOverviewForm.continue.$error" ng-if="vehicleOverviewSummary.formSubmitted">
                <div ng-message="required">Please add a vehicle</div>
              </div>
              <input id="customerZip" name="continue" class="form-control {{form.fieldHtmlClass}}"
                     type="hidden"
                     placeholder="{{form.placeholder}}"
                     ng-disabled="form.readonly"
                     ng-model-options="form.ngModelOptions"
                     ng-model="$$value$$"
                     required>
            </div>
            <div class="button-continue">
              <button class="" style="font-size:20px;" id="btnStartMe"
                      ng-click="vehicleOverviewSummary.validateForm(vehicleOverviewForm.$valid)">
                <span>Start Me</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-form>
  </div>
</div>
<hr/>

