<div class="form-group" ng-controller="VehicleSelectorController" ng-init="setInsideModel($$value$$)">
    <ng-form name="vehicleForm">
        <div class="form-group"
             ng-class="{true: 'has-error'}[vehicleSummary.formSubmitted && vehicleForm.vehicleYear.$invalid]">
            <label class="control-label form-left">
                <span>Year</span>
            </label>

            <div ng-messages="vehicleForm.vehicleYear.$error" ng-if="vehicleSummary.formSubmitted">
                <div ng-message="required">Please enter vehicle year.</div>
                <div ng-message="invalidYear">Please enter a 4 digit year.</div>
                <div ng-message="vehicleAge">Please select a year between 1981 and {{vehicleSummary.currentYear}}.</div>
            </div>
            <input class="form-control form-right"
                   schema-validate="form"
                   maxlength="4"
                   name="vehicleYear" type="tel"
                   ng-change="updateYear(vehicle.Year)"
                   ng-disabled="vehicleSummary.yearsDisabled"
                   ng-model="$$value$$.vehicle.year"
                   required/>
        </div>

        <div class="form-group" collapse="vehicleMakes == null || vehicleMakes.length === 0"
             ng-class="{true: 'has-error'}[vehicleSummary.formSubmitted && vehicleForm.vehicleMake.$invalid]">
            <label class="control-label form-left">
                <span>Make</span>
            </label>

            <div ng-messages="vehicleForm.vehicleMake.$error" ng-if="vehicleSummary.formSubmitted">
                <div ng-message="required">Please enter vehicle make.</div>
            </div>
            <select class="form-control form-right" name="vehicleMake"
                    schema-validate="form"
                    ng-model="$$value$$.vehicle.makeId"
                    ng-disabled="vehicleMakes.length === 0"
                    ng-change="getVinIsoModels($$value$$.vehicle.makeId)"
                    ng-options="vehicleMake.value as vehicleMake.label for vehicleMake in vehicleMakes"
                    required>
                <option value="">Select</option>
            </select>
        </div>

        <!-- Model -->
        <div class="form-group" collapse="vehicleModels == null || vehicleModels.length === 0"
             ng-class="{true: 'has-error'}[formSubmitted && vehicleForm.vehicleModel.$invalid]">
            <label class="control-label form-left">
                <span>Model</span>
            </label>

            <div ng-messages="vehicleForm.vehicleModel.$error" ng-if="vehicleSummary.formSubmitted">
                <div ng-message="required">Please enter vehicle model.</div>
            </div>

            <select class="form-control form-right" name="vehicleModel"
                    ng-model="$$value$$.vehicle.modelId"
                    ng-disabled="vehicleModels.length === 0"
                    ng-options="vehicleModel.value as vehicleModel.label for vehicleModel in vehicleModels"
                    ng-change="getVinIsoBodyStyles($$value$$.vehicle.modelId)"
                    required>
                <option value="">Select</option>
            </select>

        </div>
        <!-- Body Style -->
        <div class="form-group" collapse="vehicleBodyStyles == null || vehicleBodyStyles.length === 0"
             ng-class="{true: 'has-error'}[formSubmitted && vehicleForm.vehicleBodyStyle.$invalid]">
            <label class="control-label form-left">
                <span>Body Style</span>
            </label>

            <div ng-if="vehicleBodyStyles.length == 1">
                <div class="control-label form-right">{{ vehicle.Style }}</div>
            </div>
            <div ng-if="vehicleBodyStyles.length > 1 || vehicleBodyStyles.length === 0">
                <div ng-messages="vehicleForm.vehicleBodyStyle.$error" ng-if="formSubmitted">
                    <div ng-message="required">Please enter vehicle body style.</div>
                </div>
                <select class="form-control form-right" name="vehicleBodyStyle"
                        ng-model="$$value$$.vehicle.YearStyleId"
                        ng-disabled="vehicleBodyStyles.length === 0"
                        ng-options="vehicleBodyStyle.value as vehicleBodyStyle.label for vehicleBodyStyle in vehicleBodyStyles"
                        ng-change="saveVinIsoBodyStyle($$value$$.vehicle.YearStyleId)"
                        required>
                    <option value="">Select</option>
                </select>
            </div>


        </div>
        <input type="hidden" toggle-single-model sf-changed="form" ng-model="$$value$$" schema-validate="form"/>
    </ng-form>
</div>
