<div class="input-group" ng-controller="PostalCodeSelectorController">
  <ng-form name="autoZipForm">
    <div id="step-postal-code">
      <div id="postal-code" class="">
        <div class="input-group">
          <div class="form-group"
               ng-class="{true: 'has-error'}[postalSummary.formSubmitted && autoZipForm.customerZip.$invalid]">

            <div ng-messages="autoZipForm.customerZip.$error" ng-if="postalSummary.formSubmitted">
              <div ng-message="required">Please enter a postal code.</div>
              <div ng-message="pattern">Please enter a valid postal code.</div>
              <div ng-message="invalidCode">Please verify your postal code.</div>
            </div>
            <input id="customerZip" name="customerZip" class="form-control {{form.fieldHtmlClass}}"
                   type="tel"
                   ng-pattern="/\d{5}/"
                   maxlength="5"
                   placeholder="{{form.placeholder}}"
                   ng-disabled="form.readonly"
                   ng-model-options="form.ngModelOptions"
                   ng-model="$$value$$"
                   required>
          </div>
          <div class="button-continue">
            <button class="" style="font-size:20px;" id="btnStartMe"
                    ng-click="getZipCode(autoZipForm.$valid, $$value$$)">
              <span>Start Me</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-form>
</div>
