<div class="container-fluid">
  <div class="row">

    <div>
        <H1>{{greeting}}</H1>
    </div>
    <div class="col-sm-12 col-md-offset-3 col-lg-offset-3 col-md-7 col-lg-5 margin animated fadeIn">

            <div class="panel">
                <form name="ngform" sf-model="modelData" sf-form="form" sf-schema="schema"></form>

                <div ng-show="ngform.$valid"><em>Form is valid</em></div>
                <div ng-show="ngform.$invalid"><em>Form is not valid</em></div>

              <h3>Current Model</h3>
              <pre ng-cloak>{{pretty()}}</pre>

                <h3>Master Model</h3>
                <pre ng-cloak>{{prettyMaster()}}</pre>
            </div>

      {{isCollapsed}}
            <div>
              <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
              <hr>
              <div collapse="isCollapsed">
                <div class="well well-lg">Some content</div>
              </div>
            </div>

    </div>
  </div>
</div>

<!--<label>Single select:&nbsp;</label>-->
<!--<button type="button" class="btn btn-default" ng-model="selectedIcon" data-html="1" bs-options="icon.value as icon.label for icon in icons" bs-select>-->
    <!--Action <span class="caret"></span>-->
<!--</button>-->
<!--<hr>-->
<!--<label>Multiple select:&nbsp;</label>-->
<!--<button type="button" class="btn btn-default" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" bs-select>-->
    <!--Action <span class="caret"></span>-->
<!--</button>-->
