<div class="container">

    <div>
        <H1>{{title}}</H1>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-4">
                <form name="ngform" sf-model="modelData" sf-form="form" sf-schema="schema"
                      ng-submit="submitForm(ngform,modelData)"></form>

                <div ng-show="ngform.$valid"><em>Form is valid</em></div>
                <div ng-show="ngform.$invalid"><em>Form is not valid</em></div>

                <h3>Model</h3>
                <pre ng-cloak>{{pretty()}}</pre>
            </div>
        </div>
    </div>
</div>

<!--<label>Single select:&nbsp;</label>-->
<!--<button type="button" class="btn btn-default" ng-model="selectedIcon" data-html="1" bs-options="icon.value as icon.label for icon in icons" bs-select>-->
    <!--Action <span class="caret"></span>-->
<!--</button>-->
<!--<hr>-->
<!--<label>Multiple select:&nbsp;</label>-->
<!--<button type="button" class="btn btn-default" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" bs-select>-->
    <!--Action <span class="caret"></span>-->
<!--</button>-->
