<div class="form-group" ng-controller="IncidentSelectorController">
  <ng-form name="incidentForm">

    <div class="row margin-top incidents-box">
      <div class="col-md-12 col-xs-12" id="incidents" ng-repeat="driverIncident in driverInfractions.driverIncidents"
           ng-click="removeIncident(driverIncident.Id)">
        <div class="col-md-8 col-xs-8">
          <span>{{ driverIncident.DriverName}}</span>
          <br/>
          <span>{{ driverIncident.Description }}</span>
          <br/>
          <span>{{ driverIncident.DateOfIncident }}</span>
        </div>
        <div class="col-md-3 col-xs-3">
          <i class="fa fa-times" id="incidents-remove"></i>
        </div>
      </div>
    </div>
    <hr/>
    <div>
      <h4 style="color: #015289;">Traffic incidents</h4>

      <div id="incident-top">

        <!-- drivers -->
        <div class="form-group"
             ng-class="{true: 'has-error'}[driverInfractions.incidentSubmitted && incidentForm.driver.$invalid]">
          <label class="control-label form-left">Driver</label>

          <div ng-messages="incidentForm.driver.$error" ng-if="driverInfractions.incidentSubmitted" style="color:maroon">
            <div ng-message="required">Please select a driver</div>
          </div>
          <div ng-if="driverInfractions.drivers.length == 1">{{driverInfractions.drivers[0].FirstName + ' ' + driverInfractions.drivers[0].LastName}}</div>

          <select ng-if="driverInfractions.drivers.length > 1" class="form-control form-right" name="driver"
                  ng-model="driverInfractions.currentIncident.DriverId"
                  ng-options="driver.Id as driver.FirstName + ' ' + driver.LastName for driver in driverInfractions.drivers"></select>
        </div>

        <!-- Incident Type -->
        <div class="form-group"
             ng-class="{true: 'has-error'}[driverInfractions.incidentSubmitted && incidentForm.incidentType.$invalid]">
          <label class="control-label form-left">Incident type</label>

          <div ng-messages="incidentForm.incidentType.$error" ng-if="driverInfractions.incidentSubmitted" style="color:maroon">
            <div ng-message="required">Please select an incident type.</div>
          </div>
          <select class="form-control form-right" id="incident-type" name="incidentType"
                  ng-model="driverInfractions.currentIncident.IncidentClassificationId"
                  ng-options="a.Value as a.Description for a in driverInfractions.incidentTypes">
            <option value="">Select</option>
          </select>
        </div>

        <!-- Incident Date -->
        <div class="form-group"
             ng-class="{true: 'has-error'}[driverInfractions.incidentSubmitted && incidentForm.incidentDate.$invalid]">
          <label class="control-label form-left">Date</label>

          <div ng-messages="incidentForm.incidentDate.$error" ng-if="driverInfractions.incidentSubmitted" style="color:maroon">
            <div ng-message="required">Please enter an incident date.</div>
            <div ng-message="datetime">Please enter a valid date.</div>
            <div ng-message="futureDate">Please enter a non future date.</div>
            <div ng-message="pastDate">The incident must be within the past 5 years.</div>
          </div>
          <input class="form-control form-right" id="incidentDate" name="incidentDate"
                 title="Incident Date" type="tel" ui-mask="99-99-9999"
                 ng-model="driverInfractions.currentIncident.DateOfIncident" valid-date max-age="0"/>
        </div>
      </div>

    </div>
  </ng-form>
</div>
